<div class="container-50 noTopPadding container-30-right">
    <h4>Settings</h4>
</div>

<div class="container-50 row noOffsetRow">
  <div class="column-6-med">
    <div class="dashTitleBar">
      <h3>Mobile client connection</h3>
    </div>
    <div>
      <ol>
        <li style="margin-left: 1em; line-height: 110%">Install the mobile app on an iOS phone following <a href="https://github.com/ibm-watson-iot/iota-starter-carsharing/blob/master/README.md">these instructions</a> or on an Android device following <a href="https://github.com/ibm-watson-iot/iota-starter-carsharing-android/blob/master/README.md">these instructions</a>.</li>
        <li style="margin-left: 1em; line-height: 110%" class="marginTop-15">The first time you use the mobile app, you'll be asked to scan this code to connect it to the server.
         <p class="marginTop-15"><img src="/admin/qr/getPlatformCredentials" /></p></li>
      </ol>
    </div>
  </div>
</div>
